.titulo{
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
  text-shadow: rgb(150,150,150) 1px 1px 1px;
  padding-bottom: 0rem;
}

.sombra-contenedor{
  border-bottom: 2px solid rgb(180,180,180);
}

.sombra{
  box-shadow: rgb(230,230,230) 0px 5px 0px -1px;
}

.imagen{
  height: 300px;
  overflow: hidden;
  border: 2px black solid;
  /* box-shadow: rbg(150,150,150) 10px 10px; */

}
.margen-contenedor{
  margin: 2rem;
}
.sin-relleno{
  padding: 0px;
}

.pie-pagina{
  text-align: center;
}


