<div class="container-fluid">
  <div class="row sombra-contenedor margen-contenedor sombra">
    <h2 class="titulo sin-relleno">Vivero El Otoño</h2>
  </div>
  <div class="row margen-contenedor imagen sombra">
    <img src="../assets/img/img_621cea5d635dd.jpg" class="img-fluid sin-relleno" alt="imagen del vivero">
  </div>
  <div class="row margen-contenedor ">
    <div class="col-7 sin-relleno">
      <app-listar-planta class="sin-relleno"></app-listar-planta>
    </div>
  </div>
  <div class="row">
    <p class="pie-pagina">Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</p>
  </div>
</div>

